* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #FEFEFE;
}
  
.navbar_burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
  
.burger_bar1, .burger_bar2, .burger_bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}
  
.change .burger_bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}
  
.change .burger_bar2 {
  opacity: 0;   
  background-color: white;
}
  
.change .burger_bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white;
}
  
.navbar_container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav {
  padding: 10px 20px;
  background-color: #F6C177;
}
  
nav .navbar_brand a {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 550;
  color: black;
}
  
.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.1);
  transition: .3s;
  visibility: hidden;
}
  
.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}
  
nav ul {
  display: flex;
  position: fixed;    
  background-color:#505050;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: .5s;
  align-items: flex-start;
  flex-direction: column;
}
  
nav ul.change {
  right: 0;
  transition: .5s;
}
  
nav ul li {
  list-style: none;
  padding: 20px 15px;
}
  
nav ul li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.main-section-1 {
  background-image: url('././images/sources/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height: 100vh;
}

.main-section-1_row {
  height: 50vh;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.row_image_1 {
  width: 50%;
  margin: 20px; 
  height: 30px;
  text-align: center;
}

.image_title_1 {
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: 'Integral CF Bold';
  font-size: 130px;
  font-weight: bold;
  color: white;
}

.image_desc_1 {
  margin-top: 10px;
  text-align: center;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-weight: bold;
}

.main-section-2 {
  width:100%;
  height: 70vh;
  vertical-align: middle;
}

.main-section-2_title {
  text-align: center;
  padding: 100px 50px 15px;
  font-weight: bold;
  font-size: 50px;
}

.main-section-2_desc {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 30px;
}

.main-section-3 {
  width: 100%;
  height: 80vh;
  background-color: #D3F2F0;
}

.main-section-3_title {
  text-align: center;
  padding: 100px 50px 15px;
  font-weight: bold;
  font-size: 50px;
}

.main-section-3_row {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}

.row_image {
  width: 30%;
  margin: 20px; 
  height: 30px;
  text-align: center;
}

.image_title_3 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.image_btn {
  background-color: #F6C177;
  width: 100px;
  height: 30px;
  border: none;
}

.main-section-4 {
  width: 100%;
  height: 100vh;
  background-image: url('././images/sources/bg-grid.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-section-4_row {
  height: 50vh;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row_image_2 {
  width: 30%;
  margin: 20px; 
  height: 30px;
}

.image_desc {
  margin-top: 50px;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width:600px) {
  .main-section-1_row {
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  
  .row_image_1 {
    width: 100%;
    margin: 10px; 
    height: 30px;
    text-align: center;
  }
  
  .image_title_1 {
    font-family: 'Integral CF Bold';
    font-size:80px;
    font-weight: bold;
    color: white;
  }
  
  .image_desc_1 {
    margin-top: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-weight: bold;
  }

  .main-section-2 {
    width:100%;
    height: 100vh;
    vertical-align: middle;
  }

  .main-section-2_title {
    text-align: center;
    margin-top: -50px;
    font-weight: bold;
    font-size: 50px;
  }

  .main-section-2_desc {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
  }

  .main-section-3 {
    width: 100%;
    height: 150vh;
    background-color: #D3F2F0;
  }
  
  .main-section-3_title {
    text-align: center;
    padding: 60px 50px 15px;
    font-weight: bold;
    font-size: 50px;
  }
  
  .main-section-3_row {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row_image {
    width: 100%;
    margin-bottom: 220px; 
    height: 30px;
    text-align: center;
  }
  
  .image_title_3 {
    position: relative;
    bottom: 20px;
  }
  
  .image_btn {
    background-color: #F6C177;
    width: 100px;
    height: 30px;
    position: relative;
    top: 20px;
    border: none;
  }

  .main-section-4 {
    width: 100%;
    height: 100vh;
    background-image: url('././images/sources/bg-grid.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main-section-4_row {
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .row_image_2 {
    width: 100%;
    margin: 20px; 
    height: 30px;
  }

  .row_image_2 img {
    width: 250px;
    height: 170px;
    position: relative;
    top:230px;
  }
  
  .image_desc {
    margin-top: -30px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width:960px) {
  .main-section-1_row {
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  
  .row_image_1 {
    width: 50%;
    margin: 10px; 
    height: 30px;
    text-align: center;
  }
  
  .image_title_1 {
    font-family: 'Integral CF Bold';
    font-size: 80px;
    font-weight: bold;
    color: white;
  }
  
  .image_desc_1 {
    margin-top: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-weight: bold;
    line-height: 25px;
  }

  .main-section-2 {
    width:100%;
    height: 60vh;
    vertical-align: middle;
  }

  .main-section-2_title {
    text-align: center;
    margin-top: -60px;
    font-weight: bold;
    font-size: 50px;
  }

  .main-section-2_desc {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
  }

  .main-section-3 {
    width: 100%;
    height: 150vh;
    background-color: #D3F2F0;
  }
  
  .main-section-3_title {
    text-align: center;
    padding: 60px 50px 15px;
    font-weight: bold;
    font-size: 50px;
  }
  
  .main-section-3_row {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row_image {
    width: 100%;
    margin-bottom: 220px; 
    height: 30px;
    text-align: center;
  }
  
  .image_title_3 {
    position: relative;
    bottom: 20px;
  }
  
  .image_btn {
    background-color: #F6C177;
    width: 100px;
    height: 30px;
    position: relative;
    top: 20px;
    border: none;
  }

  .main-section-4 {
    width: 100%;
    height: 70vh;
    background-image: url('././images/sources/bg-grid.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main-section-4_row {
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .row_image_2 {
    width: 100%;
    margin: 20px; 
    height: 30px;
  }

  .row_image_2 img {
    width: 300px;
    height: 170px;
    position: relative;
    left: 125px;
  }
  
  .image_desc {
    margin-top: -30px;
    text-align: center;
  }

}
  
@media screen and (min-width: 960px) {
  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }
  
  .navbar_burger {
    display: none;
  }
  
  nav {
    position: relative;
  }

  
  
  nav ul {
    display: flex;
    position: relative;    
    background-color:unset;
    top: unset;
    bottom: unset;
    right: unset;
    width: unset;
    flex-direction: row;
  }
  
  nav ul li {
    padding: 10px 15px;
  }
  
  nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: black;
    transform: translateY(20px);
  }
  
  nav ul li a {
    color: black;
    font-size: 1.1rem;
  }
  
  nav ul li:last-child {
    font-weight: 550;
  }
}
  
@media screen and (min-width: 1200px) {
  .navbar_container-flex {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}